$color1: rgba(35, 57, 91, 1);
$color2: rgba(42, 98, 143, 1);
$color3: rgba(241, 233, 218, 1);
$color4: rgba(252, 252, 252, 1);
$color5: rgba(255, 113, 91, 1); 

@import url('https://fonts.googleapis.com/css?family=Roboto');

$fuente-titulos: roboto;
$fuente-textos: sans-serif;