/* Coolors Exported Palette - coolors.co/23395b-2a628f-f1e9da-fcfcfc-ff715b */

/* HSL */
$color1: hsla(216%, 44%, 25%, 1);
$color2: hsla(207%, 55%, 36%, 1);
$color3: hsla(39%, 45%, 90%, 1);
$color4: hsla(0%, 0%, 99%, 1);
$color5: hsla(8%, 100%, 68%, 1);

/* RGB */
$color1: rgba(35, 57, 91, 1);
$color2: rgba(42, 98, 143, 1);
$color3: rgba(241, 233, 218, 1);
$color4: rgba(252, 252, 252, 1);
$color5: rgba(255, 113, 91, 1);